<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880492948790-er8rcfd7cv8l3jt3thdpqrdji4cq0l1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880492948790-er8rcfd7cv8l3jt3thdpqrdji4cq0l1p</string>
	<key>API_KEY</key>
	<string>AIzaSyBKXThe9_AzZb4Y-smLyzZgZs1N35oEXHg</string>
	<key>GCM_SENDER_ID</key>
	<string>880492948790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myproject.breakpoint</string>
	<key>PROJECT_ID</key>
	<string>database-93ac8</string>
	<key>STORAGE_BUCKET</key>
	<string>database-93ac8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880492948790:ios:0d217b34ff9efdf1</string>
	<key>DATABASE_URL</key>
	<string>https://database-93ac8.firebaseio.com</string>
</dict>
</plist>